* {
  text-align: center;
  font-family: "Public Sans", sans-serif;
}

body {
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-color: #f7f7ff;
  background-repeat: no-repeat;
  background-position: right, bottom left;
  height: 584px;
  background-size: 350px;
}

#headingMain {
  margin-top: 20px;
  font-weight: 700;
  color: #686c85;
}

.box {
  display: flex;
  justify-content: center;
}

.box p {
  margin: 10px;
  align-self: center;
  color: #686c85;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

card {
  border-radius: 7px;
  padding: 20px;
  box-shadow: 10px 10px 10px #f1f1fd;
  cursor: pointer;
}

.middleCard {
  background: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: #fff;
  height: 360px;
  width: 270px;
}

.sideCard {
  align-self: center;
  background-color: #fff;
  height: 320px;
  width: 230px;
}

.basic,
.master {
  color: #686c85;
  font-weight: 700;
  margin: 20px;
}
.professional {
  font-weight: 700;
  margin: 20px;
}
.sidePrice {
  margin: 0;
  margin-bottom: 30px;
  font-size: 50px;
  color: #454756;
}
.middlePrice {
  margin: 0 0 40px 0;
  font-size: 50px;
  font-weight: 700;
}

hr {
  opacity: 30%;
  color: #fff;
}
section section {
  font-size: 12px;
}

.sideCard section {
  color: #686c85;
  font-weight: 700;
}

button {
  width: 240px;
  border: none;
  height: 30px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 4px;
}
.sideCard button {
  background: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  top: 10px;
  color: #fff;
}

.sideCard button:active {
  background: #fff;
  color: hsl(237, 63%, 64%);
  border: 1px solid;
  border-color: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

.middleCard button {
  color: hsl(237, 63%, 64%);
}

.middleCard button:active {
  background: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: #fff;
  border: 1px solid #fff;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 376px) {
  body {
    background-image: url("./images/bg-top.svg");
    background-color: #f7f7ff;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 130px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1100px;
  }

  .middleCard {
    background: linear-gradient(
      to bottom right,
      hsl(236, 72%, 79%),
      hsl(237, 63%, 64%)
    );
    color: #fff;
    height: 320px;
    width: 230px;
    align-self: center;
  }
  .middleCard button {
    color: hsl(237, 63%, 64%);
    margin-top: 0;
  }
}
